.auth-page{
    height: 90vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}